environment = "staging"
aws_region  = "ap-south-1"

identity_callback_urls = [
  "https://staging.app.vyu.example/auth/callback",
]

identity_logout_urls = [
  "https://staging.app.vyu.example/logout",
]

identity_cognito_domain_prefix      = "vyu-staging-login-example"
identity_resource_server_identifier = "https://api.staging.vyu.example"

edge_primary_domain_name = "staging.app.vyu.example"
edge_route53_zone_id     = "Z000000000000000000000"
